*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
.env

!/bva/data/hitnet_predict_match9_1_07_11.csv
!bva/data/clean_dataset.csv
!bva/data/video_details.csv
!bva/data/players_positions.csv
!bva/data/match2_1_00_02_details.csv
!bva/data/match2_1_00_02_predict.csv
!bva/data/match2_1_00_02_players.csv
!bva/data/match9_1_07_11_details.csv
!bva/data/match9_1_07_11_predict.csv
Tests.ipynb
!bva/data/match9_1_07_11_players.csv
