# packaging
cython
pip>=9
setuptools
twine
wheel
streamlit==1.5.0
Image
streamlit_drawable_canvas
piexif
Pillow
imutils
opencv-python
PyMySQL
#pyqt5

# data science
numpy
pandas
matplotlib
scikit-learn
intel-tensorflow
keras==2.6.0

# tests/linter
#black
#coverage
#flake8
#pytest
#yapf

# API
gcsfs
#google-cloud-storage
#mlflow
#s3fs

# utilities
#six>=1.14
joblib==1.1.0
#memoized-property
#termcolor


click==8.0.0